<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /tracerstudy/
    
    # Redirect trailing slashes
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ $1 [L,R=301]
    
    # Direct requests to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>

# Prevent directory listing
Options -Indexes

# Default index files
DirectoryIndex index.php
